.form-styling{
	width:300px;
	margin:35px auto;
	border:3px solid black;
	padding:20px 30px;
}
.question-styling{
	width:80%;
	margin:0 auto;
}
.question-form{
	background:url("http://www.uniwallpaper.com/static/images/dandelion.jpg");
	background-repeat: no-repeat;
	background-position: cover; 
	background-size:100%;
	padding:80px 60px;
}
.img-fluid{
	width:100%;
}
.margin-answers{
	padding:0;
}
.btn{
	margin:10px 10px;
}
.question{
	margin:31px 0;
}
.other-question{
	font-size: 33px;
    margin: 28px 14px 29px 0px;

}
.styling-question{
	border:2px solid black;
	padding: 12px 18px 5px 18px;
	margin-bottom:12px;
}
.custom-btn{
	margin-left: 0;
}
h4 {
    font-size: 19px;
    font-weight: 100;
}
.styling-left{margin-top: 0;}
.btn-secondary{margin: 0}
.answer-submit{
	margin-top: 16px;
}


