<div class="form-styling"">
	<h4 class="color-steps">
		step1: add companies<br>
		step2: sign_up form
	</h4>
	<br>
	<div class="field">
		<h4>Add company</h4>
		<%=form_for @company do |f|%>
			<%=f.text_field :name,class:"btn btn-outline-secondary form-control"%><br><br>
			<%=f.submit class:"btn btn-primary"%>
		<%end%>
	</div>
</div>
