<div class="form-styling"">
	<div class="field">
		<h4>Add company</h4>
		<%=form_for @company do |f|%>
			<%=f.text_field :name,class:"btn btn-outline-secondary form-control"%><br><br>
			<%=f.submit class:"btn btn-primary"%>
		<%end%>
	</div>
	<%= link_to "sign_up|",new_user_registration_path,class:"nav-link"%>
</div>
